.chat-item-wrapper {
  display: flex;
  width: 100%;
  height: max-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.single-chat-item {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px 0 20px 0;
  transition: all 0.1s ease-in-out;
}
.single-chat-item:active {
  width: 90%;
  height: 90px;
}

.chat-item-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.message-highlight {
  font-weight: bolder;
  color: green;
  margin-right: 5px;
}

.message-highlight:hover {
  color: crimson;
}

.chat-item-latest-message {
  display: flex;
  width: 150px;
  height: 22px;
  overflow: hidden;
}

.online {
  color: rgb(55, 155, 55);
  transition: all 0.2s ease-in-out;
}
.online:hover {
  color: green;
}
.offline{
  color: crimson;transition: all 0.2s ease-in-out;
}
.offline:hover {
  color: rgb(139, 42, 61);
}
