* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.profile,
.message {
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}
