.chat-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 85%;
  width: 100%;
  overflow: hidden;
}

.message-user-nav {
  display: flex;
  background-color: tomato;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.message-user-name {
  display: flex;
  margin-left: 10px;
}

.message-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

/* .m-dot-1,
.m-dot-2,
.m-dot-3 {
  display: flex;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: white;
} */

.message-list-wrapper {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.exit-message {
  position: relative;
  border: none;
  background-color: crimson;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  right: 10px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.exit-message:hover {
  background-color: yellow;
  color: tomato;
}

.load-messages{
  border: none;
  background-color: white;
  padding: 5px;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
